body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Center the title */
h1 {
    text-align: center;
}

/* Style the header and footer */
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo img {
    max-width: 100px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

/* Style the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style the login form */
.login-form {
    background: linear-gradient(45deg, #00bcd4, #3f51b5);
    background-size: 200% 200%;
    animation: gradientGrow 5s linear infinite;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style for the centered search container */
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Style for input elements within the form */
.search input[type="text"],
.search input[type="submit"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
}

/* Add a subtle grow effect to input elements on hover */
.search input[type="text"]:hover,
.search input[type="submit"]:hover {
    transform: scale(1.05);
}
